# Models and large binaries
backend/app/ml/model/legal_classifier_v1/
backend/app/ml/model/*.ipynb

# Python bytecode
__pycache__/
*.pyc

# Project Documentation / Temporary files
process.py
FileTree.md
*_folder.md